<section class="container mx-auto px-4 py-8 grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="border-t border-gray-200">
      @for (feature of features; track feature) {
        <div class="py-4 flex justify-between items-center border-b border-gray-200">
          <p class="font-medium">{{feature}}</p>
          <span>+</span>
        </div>
      }
    </div>
    
    <div class="text-center">
      <h3 class="uppercase font-medium mb-4">Premium Materials</h3>
      <div class="p-4">
        <img src="https://us.pandora.net/dw/image/v2/AAVX_PRD/on/demandware.static/-/Sites-pandora-master-catalog/default/dw811e0504/productimages/singlepackshot/NAMPS0149.jpg?sw=900&sh=900&sm=fit&sfrm=png&bgcolor=F5F5F5" alt="Pandora bead charm" class="w-full max-w-xs mx-auto h-auto">
      </div>
    </div>
</section>